{% macro url(file_name) %}
    {{ url_for('static',filename=file_name,_external=True) }}
{% endmacro %}

{% macro form_data(fieldName,fieldId,fieldValue,type,default='',placeholder='') %}
    <div class="form-group">
        <div class="col-sm-3">
            <label for="{{ fieldId }}" class="control-label">{{ fieldValue }}</label>
        </div>
        <div class="col-sm-9">
            {% if default %}
                <input type="{{ type }}" class="form-control" name="{{ fieldName }}"
                       id="{{ fieldId }}" placeholder="{{ placeholder }}" value="{{ default }}">
            {% else %}
                <input type="{{ type }}" class="form-control" name="{{ fieldName }}"
                       id="{{ fieldId }}" placeholder="{{ placeholder }}">
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro panel_accordion(id,icon,title,dataCell) %}
    <div title="{{ title }}" class="according" id="according_{{ id }}" iconCls="{{ icon }}">
        <ul>
            {% for cell in dataCell %}
                <li>
                    <div class="panel_accordion">
                        <span class="icon {{ cell[1] }}" style="margin-right: 2px;vertical-align: middle">　</span>
                        <a herf="" class='{{ cell[0] }}' data-url="{{   cell[3] }}">{{ cell[2] }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro pro_form_data(label,label_for,input_value) %}
    <div class="col-sm-3">
        <label for="{{ label_for }}">{{ label }}</label>
    </div>
    <div class="col-sm-9">
        <input class="form-control" value="{{ input_value }}" id="{{ label_for }}"/>
    </div>
{% endmacro %}

