.sys_admin {
    background: url('sys_icons/admin.png') no-repeat center center;
}

.sys-delete {
    background: url('sys_icons/sys_delete.png') no-repeat center center;
}

.sys-excel {
    background: url('sys_icons/sys_excel.png') no-repeat center center;
}

.sys-pdf {
    background: url('sys_icons/pdf2.png') no-repeat center center;
}

.sys-print {
    background: url('sys_icons/sys_print.png') no-repeat center center;
}

.sys-refresh {
    background: url('sys_icons/sys_refresh.png') no-repeat center center;
}

.sys-save {
    background: url('sys_icons/sys_save.png') no-repeat center center;
}

.sys-search {
    background: url('sys_icons/sys_search.png') no-repeat center center;
}

.sys_setting {
    background: url('sys_icons/sys_setting.png') no-repeat center center;
}

.sys_setting_easy {
    background: url('sys_icons/sys_setting_easy.png') no-repeat center center;
}
.sys-sort-up {
    background: url('sys_icons/sort-up.png') no-repeat center center;
}

.sys-sort-down {
    background: url('sys_icons/sort-down.png') no-repeat center center;
}

.sys-equal {
    background: url('sys_icons/char-equal.png') no-repeat center center;
}
.sys-less {
    background: url('sys_icons/less.png') no-repeat center center;
}
.sys-greater {
    background: url('sys_icons/greater.png') no-repeat center center;
}

.sys-users {
    background: url('sys_icons/users.png') no-repeat center center;
}

.sys-group {
    background: url('sys_icons/group.png') no-repeat center center;
}

.sys-user {
    background: url('sys_icons/user.png') no-repeat center center;
}

.sys-fruits {
    background: url('sys_icons/fruits.png') no-repeat center center;
}

.sys-stock {
    background: url('sys_icons/stock.png') no-repeat center center;
}

.sys-sell {
    background: url('sys_icons/sell.png') no-repeat center center;
}

.sys-roll-out {
    background: url('sys_icons/roll-out.png') no-repeat center center;
}
.sys-roll-back{
    background: url('sys_icons/roll-back.png') no-repeat center center;
}
.sys-profit{
    background: url('sys_icons/profit.png') no-repeat center center;
}

.sys-money {
    background: url('sys_icons/money.png') no-repeat center center;
}

.sys-rebund {
    background: url('sys_icons/rebund.png') no-repeat center center;
}
.sys-write-off {
    background: url('sys_icons/write-off.png') no-repeat center center;
}

.sys-bill {
    background: url('sys_icons/bill.png') no-repeat center center;
}