{% import 'Production/macro.html' as pro_mac %}
<form id="rebund-form" class="form-horizontal" role="form" style='padding:15px 3px'>
    {{ form.hidden_tag() }}
    <div class="form-group" >
        {{ pro_mac.pro_form(form.date.label,form.date,1) }}
        {{ pro_mac.pro_form(form.tickets.label,form.tickets,1) }}

    </div>
    <div class="form-group">
        {{ pro_mac.pro_form(form.money_type.label,form.money_type,1) }}
        {{ pro_mac.pro_form(form.money_price.label,form.money_price) }}
    </div>

    <div class="form-group">
        {{ pro_mac.pro_form(form.customer_id.label,form.customer_id,1) }}
        {{ pro_mac.pro_form(form.operator_id.label,form.operator_id) }}
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            {{form.notice.label(class='label-control')}}
        </div>
        <div class="col-sm-10">
            {{form.notice(class='form-control')}}
        </div>
            <!-- {{form.bill_id(style='display:none')}} -->
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a href="#" class="btn btn-primary" id="submit">确定</a>
            <a href="#" id='close-window' style="margin-left: 15px" class="btn btn-primary">关闭</a>
        </div>
    </div>
</form>

<script>
    $(function () {
        var getById = _util.get_partial("rebund-form");
        var datagridId          = "#{0}datagrid".format("rebund");
        var registerId          = "#{0}register_dialog".format("rebund");
        {% if form.bill_id.data %}
            var _isMofidy = true;
        {% else %}
            var _isMofidy = false;
        {% endif %}
        allCommon("{{date}}","#rebund-form #date");
        getById('date').datebox({
            required:true ,
            panelWidth:267,
            width:165,
            height:30
        });
        var _url_rebund		   = "{{url_for('Finance.rebund')}}";
        var _url_customer_chs  = "{{url_for('Finance.get_customer_choices')}}";
       
        getById("customer_id").combobox({    
            url:_url_customer_chs,    
            valueField:'id',    
            textField:'username',
            width:165,
            height:30,
        	onLoadSuccess:function(data){
        		var _default = getById("customer_id").combobox('getValue');
        		for(var index in data){
        			_val  = data[index];
        			if(_val.username == _default){
        				getById("customer_id").combobox('select',_val.id);
        				return 
        			} 
        		}
        	}
        });  
		
        function get_form_input(){
           	 var _data 		   = _util.get_serialize_obj("#rebund-form");
             _data.date	   	   = getById("date").datebox("getValue");
           	 _check_input      = {
                    'date':"请输入还款时间",
                    'tickets':"请输入凭据号",
                    'money_price':"请输入还款金额",
             }
             _data.money_id = "{0}@{1}".format(money_type,money_price);
             for(var k in _check_input){
                    if(!_data[k]){
                 		_util.msgError(_check_input[k]);
                 		return false;
                       break
                    }
             }
             return _data;
             
        }
        getById("close-window").on("click",function(){
            $(registerId).dialog("close");
        });
        function clearInit(){
            getById("notice").val("");
            getById("tickets").val("");
            getById("reason").val("");
            getById("money_price").val("");
            getById("bill_id").combobox("clear");
            getById("customer_id").combobox("clear");
        }
        function success_operate(data) {
            _util.common_success(data);   
            if(data.state){
                clearInit();
				_util.add_or_insert(data,datagridId);
            }
        }
        
        getById("submit").bind("click",function(){
        	var data = get_form_input();
        	if (!data){return}
	         window._success_msg ='{0}还款信息成功'.format(_global.operate);
	         if(_isMofidy){
	     		var _url_modify_cell = "Finance/modify/{0}/{1}".format("{{operType}}",_global.data_id);
	             _util.form_ajax(_url_modify_cell,data,function(data){
	            	 _util.common_success(data); 
	            	 if(data.state){
	            		 _util.add_or_insert(data,datagridId);
		             }
	            });
	         }else{
	        	 _util.form_ajax(_url_rebund, data, success_operate);
	         }
        });
    });
</script>

