{% import 'Production/macro.html' as pro_mac %}
<form id="roll_out_form" class="form-horizontal" role="form">
    	{{ form.hidden_tag() }}
    <input type='hidden' name='roll_type' value='{{ form.roll_type.data }}'/>
    
    <div class="form-group">
        <div class="col-sm-2">
            <label for="stock_id">入库商品 <span class="must-input">*</span></label>
        </div>
        <div class="col-sm-7">
            <select id="stock_id" name="stock_id" style="width:320px;height:30px"></select>
        </div>
        <div class="col-sm-3">
            <a id='filter_stock' class="btn btn-primary">筛选商品</a>
        </div>
    </div>
    <div class="form-group">
    	<div class='col-sm-2'>
    		<label>价格</label>
    	</div>
    	<div class='col-sm-4'>
    		<input type='text' id='stock_price' disabled='disabled'class='form-control'/> 
    	</div>
    	<div class='col-sm-2'>
    		<label>{% if form.roll_type.data =="转出" %}
    				可转数量
    			   {% else %}
    				可报数量
    			   {% endif %}
    				</label>
    	</div>
    	<div class='col-sm-4'>
    		<input type='text' id='stock_number' disabled='disabled' class='form-control'/>
    	</div>
    </div>
    
    <div class="form-group">
        {{ pro_mac.pro_form(form.tickets.label,form.tickets,1) }}
        {{ pro_mac.pro_form(form.number.label,form.number,1) }} 
    </div>
    <div class="form-group">
        {{ pro_mac.pro_form(form.date.label,form.date,1) }} 
        {{ pro_mac.pro_form(form.operator_id.label,form.operator_id,1) }}
    </div>
    <div class="form-group">
        {{ pro_mac.pro_form(form.notice.label,form.notice) }}
        {{ pro_mac.pro_form(form.notice_a.label,form.notice_a) }}
    </div>
    <div class='form-group'>
    	<div class='col-sm-2'> 
    		{{ form.reason.label(class="control-label")}}
    	</div>
    	<div class='col-sm-10'>
    		{{ form.reason(class='form-control')}}
    	</div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a href="#" class="btn btn-primary" id="submit">确定</a>
            <a href="#" id='close-window' style="margin-left: 15px" class="btn btn-primary">关闭</a>
        </div>
    </div>
</form>


<script>
$(function() {
    $("#roll_type").attr("disabled", true);
    allCommon("{{date}}");
    $('#date').datebox({
        required:true ,
        panelWidth:267,
        width:170,
        height:30
    });
    
    var _url_roll_out =  "{{ url_for('Production.roll_out') }}";
    var _url_modify_cell = "{{url_for('Production.modify_cell')}}";
    var _url_roll_out = "{{ url_for('Production.roll_out') }}";
    var _url_stock_columns = "{{ url_for('Production.get_stock_columns') }}";
    var _url_load_stocks   = "{{ url_for('Production.get_stock') }}";
    var _url_cout_price    = "{{ url_for('Production.get_count_price') }}";
    
    _comgridOpt.main("#stock_id","name");
   	_comgridOpt.selectRowFun=set_count_price;
	_global.roll_type="{{ form.roll_type.data }}";
	
    function set_count_price(){
        $.ajax({
               url: _url_cout_price,
               data: {id: _comgridOpt.selectId},
               success: function (data) {
                   $("#stock_price").val(data.stock_price);
                   if(_global.operate  == "修改"){
                        var number = data.stock_number + parseInt($("#number").val());
                       $("#stock_number").val(number);
                   }else{
                        $("#stock_number").val(data.stock_number);
                    }
               }
           });
   }
    function clearInit(){
        $("#notice,#noctic_a").val("");
        $("#reason,#number,#tickets").val("");
        $("#stock_number,#stock_price").val("");
        $("#stock_id").combogrid("setValue","");
    }
    $("#close-window").on('click', function(){
            clearInit();
    });
    function success_operate(data) {
        _util.common_success(data);           
        if(data.state){
            if(_global.operate=='添加'){
                clearInit();
            }else{
                $('#register_dialog').dialog('close');
            }
        	set_count_price();
        	_util.add_or_insert(data);
            
        }
    }
   	function get_form_input(){
   		_data 		      = _util.get_serialize_obj("#roll_out_form");
        _data.stock_id    = _comgridOpt.selectId;
        _check_input      = {
            "stock_id":"请选择入库商品",
            'number':"请输入转出数量",
            'tickets':"请输入凭据号",
        }
        var stock_numebr = parseInt($("#stock_number").val());
        for(var k in _check_input){
            if(!_data[k]){
         		_util.msgError(_check_input[k]);
                break
            }
        }
        if(_data.number <=0){
        	_util.msgError("{0}的数量必须大于0".format(_global.roll_type));
        	return false;
        }
        if( stock_numebr < _data.number){
        	_util.msgError("{0}的数量不能大于可以转数量".format(_global.roll_type));
        	return false;
        }
        return _data;
        
   	}
    $('#submit').bind('click', function() {
    	 data = get_form_input();
         if (!data){return}
         window._success_msg ='{0}{1}信息成功'.format(_global.operate,_global.roll_type);
         if(_global.operate  == "修改"){
             data['production_id']=_global.production_id;
             data['data_id']      =_global.data_id;
             _util.form_ajax(_url_modify_cell,data,success_operate);
         }else{
             _util.form_ajax(_url_roll_out, data, success_operate);
         }
    });
    
    
    function win_set_stock_filter() {
        var _all_data = filter_by_user_input();
        if (_all_data.length != 0) {
            _comgridOpt._refresh_select(_all_data, null);
            _comgridOpt._refresh_select(_all_data, null);
            $('#win').dialog('close');
        } else {
           _util.msgError('未能获得相应的入库商品数据,请重新输入筛选条件');
        }
    }
    
    $("#filter_stock").bind('click', function () {
        $('#win').dialog({
            width: 350,
            height: 250,
            title: "筛选商品",
            iconCls: "icon-search",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok', 
                handler: win_set_stock_filter,
            }, {
                text: '关闭',
                iconCls: "icon-cancel", 
                handler: function () {
                    $('#win').dialog('close');
                }
            }]
        });
        $('#win').dialog('open');
    });
	
    var is_set_stock = null;
    /*  注意这个位置死循环 */
    function set_sell_stock(){
    	if(_global.operate  == "修改" && is_set_stock == null){
    		 is_set_stock = true;
    		 var data     = "{{ name_id }}".split("@");
    		  _comgridOpt.selectId = parseInt(data[1]);
             /* 在调整价格的时候一并调整修改时的数量 */
             set_count_price();
             $("#stock_id").combogrid({disabled:true});
             $('#stock_id').combogrid("setValue","_"+data[0]);
    	
    	}
    }
    
    
    function showCombogrid(columns){
    	$("#stock_id").combogrid({
            panelWidth: 600,
            columns: [columns],
            idField: 'id',
            singleSelect: true,
            rownumbers: true,
            {% if not name_id %}
            url: _url_load_stocks,
            {% endif %}
            onChange: _comgridOpt.onChange,
            onClickRow: _comgridOpt.onClickRow,
        });
        {% if name_id %}
        	set_sell_stock();
        {% endif %}
    }
    $.ajax({
        url:_url_stock_columns,
        success: function (data) {
        	showCombogrid(data);
        }
    });
    
});
</script>
