{% extends 'admin/master.html' %}
{% block head_css %}
	{{super()}}
	{% set links=[
         'Easyui/themes/bootstrap/easyui.css',
         'Easyui/themes/icon.css',
    ] %}
    {% for link in links %}
        <link rel="stylesheet" type="text/css" 
        href="{{ url_for('static',filename=link,_external=True) }}"/>
    {% endfor %}
	<style type="text/css">
		.myfile {
		    position: relative;
		    display: inline;
		    background: #D0EEFF;
		    border: 1px solid #99D3F5;
		    border-radius: 4px;
		    padding: 4px 12px;
		    overflow: hidden;
		    color: #1E88C7;
		    text-decoration: none;
		    text-indent: 0;
		    line-height: 20px;
		    top:-10px;
		}
		.myfile input {
		    position: absolute;
		    font-size: 100px;
		    right: 0;
		    top: 0;
		    opacity: 0;
		}
		.myfile:hover {
		    background: #AADFFD;
		    border-color: #78C3F3;
		    color: #004974;
		    text-decoration: none;
		}
	</style>
{% endblock %}

{% block body %}
	<div id='Mycontent'>
		<form id='input_form' 
		url="{{url_for('Production.upload_file')}}"
		method="post"
		enctype="multipart/form-data" 
		class="form-horizontal" role="form">
		<div class="form-group">
	    	<label for="input_file" class="col-sm-3 control-label">　数据文件:</label>
	    	<div class="col-sm-7">
		      	<input type="text" id='truefile' class="form-control" placeholder="请选择文件"></input>
			     
	    	</div>
	    	<label class="myfile">选择文件
				<input type="file" name="file_name" id="myfile" onchange="getName()" />
			</label>
		 </div>
      		<div class="form-group">
      			<label for='database_name' class="col-sm-3 control-label">数据库类型:</label>
      			<div class='col-sm-9'>
        			<select name='database_name' id='database_name' class="selectpicker form-control" style="width:300">
  					<option value="1" active='true'>入库表</option>
  					<option value="2">销售表</option>
  					<option value="3">退货表</option>
  					<option value="4">转出/报损表</option>
  					</select>
        		</div>
      		</div>
      		<div class="form-group">
  				<label for='dateFrom' class="col-sm-3 control-label">开始日期:</label>
      			<div class="col-sm-9">
	      			<input type='text' name="dateFrom" id='dateFrom'></input>
	      		</div>
      		</div>
      		<div class="form-group">
				<label for='dateTo' class="col-sm-3 control-label" >结束日期:</label>
				<div class="col-sm-9">
      			<input type='text'  name="dateTo" id='dateTo' ></input>
      			</div>
      		</div>
		</form>
	</div>
	<div id='admin_input_toolbar' >
		<input type="submit"  id='importBtn' class="btn btn-primary" value="导入"></input>
		<input type="submit"  id='exportBtn' class="btn btn-primary" value="导出"></input>
	</div>

{% endblock %}

{% block tail_js%}
	{{ super() }}
	{% set scripts=[
		'Easyui/jquery.min.js',
		'Easyui/jquery.easyui.min.js',
	    'Easyui/easyui-lang-zh_CN.js',
	    ] 
	%}
	{% for script  in scripts %}
	    <script type="text/javascript" src="{{ url_for('static',filename=script,_external=True) }}">
	    </script>
	{% endfor %}
	<script type="text/javascript">
		$("#Mycontent").dialog({
			title:"导入/导出",
			width:500,
			height:400,
			iconCls:"icon-add",
			buttons:"#admin_input_toolbar",
		});
		$("#dateFrom,#dateTo").datebox({height:"30px"});
		var dump = "{{url_for('Production.export_file')}}";
		var down = "{{url_for('Production.export_ok_file')}}";
		var del  = "{{url_for('Production.delete_down_ok')}}"
		function getName(){
			_val = $("#myfile").val();
			$("#truefile").val(_val);
		}
		$('#input_form').form({
			success:function(data){
				if(data.state){
					$.download(down)
				}
			}
		});
		$("#exportBtn").bind('click',function(){
			$('#input_form').form({
				onSubmit:function(para){
					para.database_name = $("#database_name").val();
					para.dateFrom = $("#dateFrom").datebox("getValue");
					para.dateTo 	= $("#dateTo").datebox("getValue");
					console.log(para);
				},
				success:function(data){
					if(data.state){
						$.download(down)
					}
				}
			});
			$('#input_form').submit();
		})

		$("#importBtn").bind('click',function(){
			$('#input_form').form({
				onSubmit:function(para){
					para.file_name = $("#truefile").val();
					if(!para.file_name.trim()){
						$.messager.alert("请选择文件",'提示','error');
						return false
					}
					return true
				},
				success:function(data){
					if(data.state){
						$.messager.alert("导入成功",'提示','info');
					}
				}
			});
			$('#input_form').submit();
		})
	</script>
{% endblock %}