{% extends 'admin/master.html' %}
{% block head_css %}
	{{super()}}
	{% set links=[
         'Easyui/themes/bootstrap/easyui.css',
         'Easyui/themes/icon.css',
    ] %}
    {% for link in links %}
        <link rel="stylesheet" type="text/css" 
        href="{{ url_for('static',filename=link,_external=True) }}"/>
    {% endfor %}
	<style type="text/css">
		.myfile {
		    display: inline;
		    background: #D0EEFF;
		    border: 1px solid #99D3F5;
		    border-radius: 4px;
		    padding: 4px 12px;
		    overflow: hidden;
		    color: #1E88C7;
		    text-decoration: none;
		    text-indent: 0;
		    line-height: 30px;
		}
		.myfile input {
		    position: absolute;
		    font-size: 100px;
		    right: 0;
		    top: 0;
		    opacity: 0;
		    width: 1;
		}
		.myfile:hover {
		    background: #AADFFD;
		    border-color: #78C3F3;
		    color: #004974;
		    text-decoration: none;
		}
		body{
			background-color: rgb(191,255,191);
			color: white;
		}
	</style>
{% endblock %}

{% block body %}
		<center>
		<div style="border: 1px solid green;margin-top: 100px;background-color: rgb(0,94,64);">
		<table cellspacing="5" cellpadding="3" height='380' >
		<form id='input_form' 
		url="{{url_for('Production.upload_file')}}"
		method="post"
		enctype="multipart/form-data" 
		>	{% if current_user.username =='admin' %}
			<tr>
				<td colspan="2" align="center"><font color="red" size="5px">导入商品数据</font></td>
			</tr>
			<tr>
				<td width="80px"><label for="truefile">数据文件:</label></td>
				<td> <input type="text" id='truefile' placeholder="请选择文件" style="margin: 0 0"></input>
				<label class="myfile" >选择文件
				<input type="file" name="file_name" id="myfile" onchange="getName()" />
				</label>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type='submit'  id='importBtn' style="width:100%" value="导入"></input>
				</td>
			</tr>
			{% endif %}
			<tr>
				<td colspan="2" align="center"><font color="red" size="5px">导出商品数据</font></td>
			</tr>
			<tr>
				<td><label for="database_name">数据库类型:</label></td>
				<td>
        			<select name='database_name' id='database_name' class="selectpicker" style="margin: 0 0">
  					<option value="1" active='true'>入库信息</option>
  					<option value="2">销售信息</option>
  					<option value="3">退货信息</option>
  					<option value="4">转出/报损信息</option>
  					<option value="5">所有数据信息</option>
  					</select>
        		</td>
			</tr>
			<tr>
				<td><label for='dateFrom'>开始日期:</label></td>
				<td><input type='text' style="width:100%"  name="dateFrom" id='dateFrom'></input></td>
			</tr>
			<tr>
				<td><label for='dateTo' >结束日期:</label></td>
				<td><input type='text' style="width:100%"  name="dateTo" id='dateTo' ></input></td>
			</tr>
			
			<tr >
				<td align="center" colspan="2">
				<input type="button"  style="width:100%" id='exportBtn'  value="导出" style="margin-left: 10px"></input>
				</td>
			</tr>
			
			</form>
		</table>
		</div>
		</center>
{% endblock %}

{% block tail_js%}
	{{ super() }}
	{% set scripts=[
		'Easyui/jquery.min.js',
		'Easyui/jquery.easyui.min.js',
	    'Easyui/easyui-lang-zh_CN.js',
	    ] 
	%}
	{% for script  in scripts %}
	    <script type="text/javascript" src="{{ url_for('static',filename=script,_external=True) }}">
	    </script>
	{% endfor %}
	<script type="text/javascript">
		$('td input[type="text"]').css("width",'265px');
		$('select').css("width",'280px');
		{% if current_user.username=='admin' %}
			$('td input[type="text"]').eq(0).css("width",'160px');
		{% endif %}
		$('input[type="file"]').css('width','1');
		$('tr').css("padding","10 0");
		$("#dateFrom,#dateTo").datebox({width:"230px",height:"30px"});
		$("#dateFrom,#dateTo").datebox('setValue','{{date}}');
		var dump = "{{url_for('Production.export_file')}}";
		var down = "{{url_for('Production.export_ok_file')}}";
		var del  = "{{url_for('Production.delete_down_ok')}}"
		function getName(){
			_val = $("#myfile").val();
			$("#truefile").val(_val);
		}
	
		$("#exportBtn").bind('click',function(){
			var para = new Object();
			para.database_name = $("#database_name").val();
			para.dateFrom = $("#dateFrom").datebox("getValue");
			para.dateTo 	= $("#dateTo").datebox("getValue");
			$.ajax({
				data:para,
				method:'post',
				url:"{{url_for('Production.export_file')}}",
				success:function(data){
					if(data.state){
						var _form = "<form id='down_form' method='get' style='display:none'></form>";
						var input = $("<input type='submit'/>");
						form 	  = $(_form);
						form.append(input);
						form.form({
							url:down,
						});
						_dele = function(){
							$.get(del);
						}
						setTimeout(_dele, 2000);
						$("body").append(form);//将表单放置在web中
						input.click();
					}
				}
			});
		})
		$("#importBtn").bind('click',function(){
			$('#input_form').form({
				url:"{{url_for('Production.upload_file')}}",
				onSubmit:function(para){
					para.file_name = $("#truefile").val();
					if(!para.file_name.trim()){
						$.messager.alert("请选择文件",'提示','error');
						return false
					}
					return true
				},
				success:function(data){
					data = JSON.parse(data);
					if(data.state){
						$.messager.alert('提示',"导入成功",'info');
					}else{
						$.messager.alert('提示',data.msg,'error');
					}
				}
			});
		})

	</script>
{% endblock %}