{% extends 'bootstrap/base.html' %}
{% import 'macro.html' as macro %}
{% block title %}修改密码{% endblock %}
{% block styles %}
    {{ super() }}
    {% set links=[
        'Easyui/themes/bootstrap/easyui.css',
		 'Easyui/themes/icon.css',
	] %}
    {% for cell in links %}
        <link rel="stylesheet" type="text/css" href="{{ macro.url(cell) }}"/>
    {% endfor %}
    <style type="text/css">
        body{
            background-color: rgb(245,245,245);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="easyui-dialog" id="diaog_change" data-options="iconCls:'icon-add'">
        <form id='register_form' class="form-horizontal" role="form" method="post"
              action="{{ url_for('User.change_pass') }}"
              style="padding:15px;padding-top: 35">
            {{ form.hidden_tag() }}
           <div class="form-group">
                <div class="col-sm-3">
                    <label for="username_input">用 户 名</label>
                </div>
               <div class="col-sm-9">
                    <input id="username_input" name='username'  disabled='disabled' class="form-control"  value="{{ username }}"></input>
                </div>
            </div>
            {{ macro.form_data('password','password_input','新 密 码','password',form.password.data,placeholder='请输入新密码') }}
            {% if form.password.errors[0]  %}
                <span class="col-sm-offset-3 col-sm-9">{{ form.password.errors[0] }}</span>
            {% endif %}
            {{ macro.form_data('confirm','confirm_input','确认密码','password','',placeholder='请再输入一次') }}
            {% if form.confirm.errors[0]  %}
                <span class="col-sm-offset-3 col-sm-9">{{ form.confirm.errors[0] }}</span>
            {% endif %}
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    {{ form.submit(id='submit_dialog',class='btn btn-primary') }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {% set scirpts=['Esyui/jquery.min.js','Easyui/jquery.easyui.min.js'] %}
    {% for sc  in scirpts %}
        <script type="text/javascript" src="{{ macro.url(sc) }}"></script>
    {% endfor %}

    <script type="text/javascript">
        $('#diaog_change').dialog({
            title: '修改密码',
            width: 400,
            height: 264
        });
        $('#submit_dialog').css("width", 110).css("height", 35);
    </script>

{% endblock %}