{% import 'Production/macro.html' as pro_mac %}
<form id="sell-search-form" class="form-horizontal" role="form" method="POST">
    <input type="hidden" name="unit" id="unit" value="箱"/>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ pro_mac.pro_form(form.dateFrom.label,form.dateFrom) }}
        {{ pro_mac.pro_form(form.dateTo.label,form.dateTo) }}
    </div>

    <div class="form-group">
        {{ pro_mac.pro_form(form.priceFrom.label,form.priceFrom) }}
        {{ pro_mac.pro_form(form.priceTo.label,form.priceTo) }}
    </div>
    <div class="form-group">
        {{ pro_mac.pro_form(form.tickets.label,form.tickets) }}
        {{ pro_mac.pro_form(form.sell_type.label,form.sell_type) }}
    </div>

    <div class="form-group">
        {{ pro_mac.pro_form(form.customer_id.label,form.customer_id) }}
        {{ pro_mac.pro_form(form.operator_id.label,form.operator_id) }}
    </div>

    <div class="form-group">
        {{ pro_mac.pro_form(form.notice.label,form.notice) }}
        {{ pro_mac.pro_form(form.notice_a.label,form.notice_a) }}
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a href="#" class="btn btn-primary" id="submit">确定</a>
            <a href="#" id='close-window' style="margin-left: 15px" class="btn btn-primary">关闭</a>
        </div>
    </div>
</form>
<script>
    $(function () {
        var getById = _util.get_partial("sell-search-form");
        var datagridId = "#{0}datagrid".format("sell");
        var registerId = "#{0}register_dialog".format("sell");
        allCommon();

        getById("close-window").bind('click', function () {
            $(registerId).dialog("close");
        });
        var date = "{{form.date.data}}";
        getById("dateTo").val(date);
        getById("dateFrom").val(date);
        getById("dateFrom").datebox({
            panelWidth: 267,
            width: 165,
            height: 30
        });
        getById("dateTo").datebox({
            panelWidth: 267,
            width: 165,
            height: 30
        });
        var _url_search = "{{ url_for('Production.search',operType=operType) }}";

        function get_input_form() {
            var data = _util.get_serialize_obj("#sell-search-form");
            data['operate_id'] = _util.get_option_selected("#sell-search-form #support_id");
            data['category'] = _util.get_option_selected("#sell-search-form #category");
            data['isout'] = _util.get_option_selected("#sell-search-form #isout");

            if (data['dateFrom'] && !data['dataTo']) {
                data['dataTo'] = data['dateFrom'];
            }

            if (data['priceFrom'] && !data['priceTo']) {
                data['priceTo'] = data['priceFrom'];
            }

            if ((data['dataTo'] < data['dataFrom']) ||
                (data['priceTo'] < data['priceFrom'])) {
                _util.msgError("输入日期或价格区间有误");
                return null;
            }

            return data;

        }

        function searchOk(data) {
            if (data.state) {
                $(datagridId).datagrid('loadData',
                    {total: data.msg.length, rows: data.msg});
                getById("close-window").click();
            } else {
                _util.msgWarn(data['msg']);
            }
        }

        getById('submit').bind('click', function () {
            var data = get_input_form();
            if (data) {
                _util.form_ajax(_url_search, data, searchOk);
            }

        })
    });
</script>

