{% import 'macro.html' as mac %}
<form id='register_form' class="form-horizontal" 
role="form" method="post" action="{{ targetUrl }}" 
style="padding:15px;padding-top: 35">
    {{ form.hidden_tag() }}
    <input type="hidden" name="type" value="{{ form.type }}" /> 
	<input type='hidden' name='operType' value="{{ operType }} "/>
    {% if form.type=='user' %} 
	    {{ mac.form_data('username','username_input','姓　名','text',form.username.data,placeholder='请输入用户名') }} 
		    {% if roleType=="User"%}
		    	{% if not _modify%}
			    {{ mac.form_data('password','password_input','密　码','text',form.password.data,placeholder='请输入密码') }} 
                <input type="hidden" name="state" value="活跃"/>
				{% endif %}
			{%else%}
				<input type="hidden" name="password" value="111111"/>
		    {% endif %}
            <div class=" form-group">
                <div class="col-sm-3">
                    {{form.department_id.label(class="control-label")}}
                </div>
                <div class="col-sm-9">
                    {{form.department_id(class="form-control")}}
                </div>
            </div>
		    
	    {{ mac.form_data('telephone','telephone_input','电　话','text',form.telephone.data,placeholder='请输入电话号码') }} 
	    {% else %} 
	    {{ mac.form_data('name','username_input','部　门','text',form.name.data,placeholder='请输入部门名称') }}
	    <div class="form-group">
	        <div class="col-sm-3">
	            <label for="description">描　述</label>
	        </div>
	        <div class='col-sm-9'>
	            <textarea class="form-control" rows="5" name='description' placeholder="如果有,请输入部门描述" style="resize:none">{{ form.description.data }}</textarea>
	        </div>
	    </div>
    {% endif %} 
    
    {% if _modify and roleType !="Department" %}
         <div class="form-group">
                    <div class="col-sm-3">
                        {{form.state.label(class="control-label" )}}
                    </div>
                    <div class="col-sm-9">
                        {{form.state(class="form-control")}}
                    </div>
                </div>
    {% endif %}
    {%if _modify %}
        <input type="hidden" value="{{ user_id }}" name="_prevname" /> 
	    {% set submit_label = "修改" %} 
	{% else %} 
	    {% set submit_label="添加" %} 
	{% endif %}
	
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a id='submit_dialog' class="btn btn-primary" style="width: 85px;height: 35px">{{ submit_label }}</a>
            <a id='close_dialog' class="btn btn-primary" type="button" style="margin-left:15px;width: 85px;height: 35px">关闭</a>
        </div>
    </div>
</form>
<script>
$(function() {
    $('.combobox').combobox();
    $('#close_dialog').bind('click', function() {
        $('#register_dialog').dialog('close');
        $('.tooltip').remove();
    });

    function show_error(data) {
    	string =""
        for (var key in data) {
        	string += data[key]+";";
        }
    	$.messager.alert("提示",string,"error");
    }

    $('#submit_dialog').bind('click', function() {
        $('#register_form').form({
            success: function(data) {
                data = JSON.parse(data);
                var state = data[0];
                var _data = data[1];
                var msg   = data[2];
                if (state == 0) {
                    show_error(_data);
                } else {
                    $.messager.alert('提示', msg);
                    if (state == 1) {
                        var datagrid = $('#datagrid'); 
                        {%　if _modify %}
                        _index  = get_datagrid_select("#datagrid",true);
                        datagrid.datagrid('updateRow', {
                            index:_index,
                            row: _data
                        }); 
                        {%　else %}
                        datagrid.datagrid('insertRow', {
                                index: 0,
                                row:_data});
                        {% endif %}
                    }
                }
            }
        });
        $('#register_form').submit();
    });

});
</script>
