<div id="toolbar">
    {% set data = [['icon-add', '添加',"add"],
            ['icon-remove', '删除',"delete"],
            ['icon-edit','修改',"modify"],
            ['icon-reload', '刷新',"refresh"],
            ['icon-search',"搜索","search"]
            ] %}
    {% for cell in data %}
        <a id="{{ cell[2] }}"
           plain="true" class="easyui-linkbutton"
           style="margin:3px 5px"
           data-options="iconCls:'{{ cell[0] }}'">{{ cell[1] }}
        </a>
    {% endfor %}
    {% if roleType == "User" %}
        <a id="resetPass"
           plain="true" class="easyui-linkbutton"
           style="margin:3px 5px"
           data-options="iconCls:'icon-edit'">重置密码
        </a>
    {% endif %}
</div>

<table id="datagrid" class="easyui-datagrid">

</table>
<div id="register_dialog" style="padding:10px;padding-bottom:0px;overflow:hidden;" class="easyui-dialog"
     data-options="closed:true">
</div>
<script>
    $(function () {
        var roleType = '{{ roleType }}';
		var url_load_user= "{{url_for('User.load_all_user',roleType=roleType)}}";
		var url_table_config="{{ url_for('User.table_config',roleType=roleType) }}";
		var url_index_page="{{ url_for('User.get_index_page',roleType=roleType) }}";
		var url_delete= "{{  url_for('User.delete_user',roleType=roleType)}}";
        var url_search= "{{ url_for('User.search',roleType=roleType)}}";
        function ldg(data) {
            $('#datagrid').datagrid({
                rownumbers: true,
                fit: true,
                url: url_load_user,
                columns: [data],
                striped: true,
                loadMsg: "正在加载数据,请稍等......",
                ctrlSelect: true,
                toolbar: "#toolbar",
            });
            $('#datagrid').datagrid('enableFilter'); 
        }
        $.ajax({
            url: url_table_config,
            success: ldg,
        });
        {%set names={'Department':'部门',"User":'员工',
				'Custemer':'客户','Supporter':'供应商'} %}
        $('#add').bind('click', function () {
            $('#register_dialog').dialog({
                modal: true,
                title: "添加" + '{{ names[roleType] }}',
                iconCls:'icon-add',
                href: url_index_page,
                height: 300,
                width: 350
            });
            $('#register_dialog').dialog('open');
        });

        $('#delete').bind('click', function () {
            var selections = $('#datagrid').datagrid('getSelections');
            for (var index in selections) {
                _data = selections[index];
                _index= $("#datagrid").datagrid("getRowIndex",_data);
                query_data = {'user_id': _data.id}
                if (_data['username']=="admin" || _data['username']=="auditor"){
                    $.messager.alert("提示","{0}为系统内置超级用户,不能删除".format(_data.username));
                    continue;
                }
                $.ajax({
                    url:url_delete,
                    method: 'POST',
                    data: query_data,
                    success: function (data) {
                        if (data.state) {
                            $('#datagrid').datagrid('deleteRow', _index);
                        }else{
                            {% if roleType == "Department" %}
                                var msg ="删除{0}部门失败,部门中的用户存在关联数据，不能删除".format(_data.name);
                            {% else %}
                                var msg = "删除{0}失败,用户存在关联数据不能删除.".format(_data.username);
                            {% endif %}
                                $.messager.alert("警告",msg);
                            }
                        }
                });
            }
        });
        $('#modify').bind('click', function () {
            var _data = $('#datagrid').datagrid('getSelected');
            if (!_data || _data.length > 1) {
                $.messager.alert('错误', '请选择一行数据');
                return
            }
            {% set modify={'User':320,"Department":300,"Custemer":320,"Supporter":300} %}
            $('#register_dialog').dialog({
                modal: true,
                title: "修改" + '{{ names[roleType] }}',
                href: "User/modify/{{ roleType }}" + "/" + _data.id,
                height: {{ modify.get(roleType) }},
                width: 350
            });
            $('#register_dialog').dialog('open');
        });
        $('#refresh').bind('click', function () {
        	$("#datagrid").datagrid("initData",null);
            $("#datagrid").datagrid("reload");
        });
        $("#resetPass").bind("click",function(){
            var _data = get_datagrid_select("#datagrid");
            if (_data && _data.id ){
                $('#register_dialog').dialog({
                    modal: true,
                    title: "重置密码",
                    href: "/User/resetPass/{0}".format(_data.id),
                    height: 250,
                    width: 350
                });
                $('#register_dialog').dialog("open");
            }else{
                $.messager.alert("错误","请选择一行数据");
            }
        });
        $("#search").bind("click",function(){
            $('#register_dialog').dialog({
                    modal: true,
                    title: "搜索",
                    iconCls:'icon-search',
                    href: url_search,
                    {% if roleType == "Department" %}
                        height:230,
                    {% else %}
                        height:270,
                    {% endif %}
                    width: 350
            });
            $('#register_dialog').dialog("open");
        });
    });
</script>
