{% import 'Production/macro.html' as pro_mac %}
<form id="sell-form" class="form-horizontal" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <div class="col-sm-2">
            <label for="stock_id">销售商品 <span class="must-input">*</span></label>
        </div>
        <div class="col-sm-7">
            <select id="sell_stock_id" name="stock_id" style="width:320px;height:30px"></select>
        </div>
        <div class="col-sm-3">
            <a id='sell_filter_stock' class="btn btn-primary">筛选商品</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <label>入库单价</label>
        </div>
        <div class="col-sm-4">
            <input id="sell_stock_price" class="form-control" type="text" disabled="disabled"/>
        </div>

        <div class="col-sm-2">
            <label>库存数量</label>
        </div>
        <div class="col-sm-4">
            <input id="sell_stock_number" class="form-control" type="text" disabled="disabled"/>
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-2">
            {{ form.customer_id.label }} <span class="must-input">*</span>
        </div>

        <div class="col-sm-7">
            <select class="easyui-combobox" id="customer_id" name="customer_id" style="width:320px;height:30px">
            </select>
        </div>
        <dvi class="col-sm-3">
            <a id="filter-customer" class="btn btn-primary">筛选用户</a>
        </dvi>
    </div>
    <div class="form-group">
        {{ pro_mac.pro_form(form.sell_type.label,form.sell_type,1) }}
        {{ pro_mac.pro_form(form.number.label,form.number,1) }}

    </div>
    <div class="form-group">
        {{ pro_mac.pro_form(form.price.label,form.price,1) }}
        {{ pro_mac.pro_form(form.price_a.label,form.price_a) }}
    </div>

    <div class="form-group">
        {{ pro_mac.pro_form(form.tickets.label,form.tickets,1) }}
        {{ pro_mac.pro_form(form.operator_id.label,form.operator_id) }}
    </div>
    <div class="form-group">
        {{ pro_mac.pro_form(money.money_type.label,money.money_type) }}
        <div class="col-sm-2">
            {{ money.price.label }}
        </div>
        <div class="col-sm-4">
            {{ money.price(id='money_price',class='form-control') }}
        </div>
    </div>

    <div class="form-group">
        {{ pro_mac.pro_form(form.notice.label,form.notice) }}
        {{ pro_mac.pro_form(form.notice_a.label,form.notice_a) }}
    </div>
    <div class="form-group">
        {{ pro_mac.pro_form(form.date.label,form.date,1) }}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a href="#" class="btn btn-primary" id="sell_submmit">确定</a>
            <a href="#" id='sell_close_window' style="margin-left: 15px" class="btn btn-primary">关闭</a>
        </div>
    </div>
</form>

<div id='sell_win' class="easyui-dialog"
     data-options="closed:true"
     style="padding: 15px;padding-top:5px">
    <form id="sell_filter_stock_input">
        <div class="form-group">
            <div class='col-sm-3'>
                <label for='win_date'>日期</label>
            </div>
            <div class='col-sm-9'>
                <input id='sell_win_date' name='win_date'>
            </div>
        </div>

        <div class="form-group">
            <div class='col-sm-3'>
                <label>品名</label>
            </div>
            <div class='col-sm-9'>
                <input class='form-control' type='text' name='win_name' id="sell_win_name"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3"><label for="category">类别</label></div>
            <div class="col-sm-9">
                <select class="form-control" id='sell_win_category' name="category">
                    <option value=""></option>
                    <option value="销售">购进</option>
                    <option value="代销">代销</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class='col-sm-3'>
                <label>品牌</label>
            </div>
            <div class='col-sm-9'>
                <input class='form-control' type='text' name='win_brand_id' id="sell_win_brand_id"/>
            </div>
        </div>
    </form>
</div>

<div id='sell_win_buttons' style="display: none;">
    <a id='sell_win_ok' class="easyui-linkbutton" data-option="iconCls:icon-cancel">确定</a>
    <a id='sell_win_cancel' class="easyui-linkbutton" data-option="iconCls:icon-ok">取消</a>
</div>

<script>
    $(function () {
        var getById = _util.get_partial('sell-form');
        var winButt = _util.get_partial("sell_win_buttons");
        var winEle = _util.get_partial("sell_win");
        getById('money_price').attr('name', 'money_price');
        winButt("sell_win_ok").on("click", function () {
            filter_stock_data()
        });
        allCommon("{{date}}", "#sell-form #date");

        $("#sell-form #date,#sell_win_date").datebox({
            panelWidth: 267, height: 30, width: 200,
        });

        getById('date').datebox({width: 170,});
        var _url_count_price = "{{ url_for('Production.get_count_price') }}";
        var _url_sell = "{{ url_for('Production.sell') }}";
        var _url_modify_cell = "{{url_for('Production.modify_cell')}}";
        var _url_stock_columns = "{{ url_for('Production.get_stock_columns') }}";
        var _url_load_stocks = "{{ url_for('Production.get_stock') }}";
        var data_grid_id = "#{0}datagrid".format("sell");
        var registerId = "#{0}register_dialog".format("sell");

        {% if name_id %}
            var _isModify = true;
        {% else %}
            var _isModify = false;
        {% endif %}

        function checkNumberIsOk() {
            var _all = parseFloat(getById('sell_stock_number').val());
            var _cur = parseFloat(getById('number').val());
            if (_cur > _all || _all == 0) {
                _util.msgError('销售的数量大于库存数量,请修正销售数量');
                return false;
            } else if (_cur < 0) {
                _util.msgError("销售数量不能为负数");
                return false
            }
            return true
        }

        function get_input_form_data() {
            var _data = _util.get_serialize_obj("#sell-form");
            var _check_input = {
                "stock_id": "请选择入库商品",
                'price': "请输入销售价格",
                'number': "请输入销售数量",
                'tickets': "请输入凭据号",
                "customer_id": "请选择客户",
                'money_price': '请输入付款金额,如果未付款,请输入0',
            };

            _data.stock_id = _comgridOpt.selectId;
            _data.sell_type = getById('sell_type').val();
            _data.money_id = _data.money_type + '@' + _data.money_price;


            for (var k in _check_input) {
                if (!_data[k]) {
                    _util.msgError(_check_input[k]);
                    return false
                }
            }

            if (!checkNumberIsOk()) {
                return false;
            }

            if (!_data['price_a']) {
                _data['price_a'] = _data['price'];
            }
            return _data;
        }

        function set_stock_number_price() {
            $.ajax({
                url: _url_count_price,
                data: {id: _comgridOpt.selectId},
                success: function (data) {
                    getById("sell_stock_price").val(data.stock_price);
                    if (!_isModify) {
                        getById("sell_stock_number").val(data.stock_number);
                    } else {
                        var number = data.stock_number + parseInt(getById("number").val());
                        getById("sell_stock_number").val(number);
                    }

                    if(!_comgridOpt.selectData){
                        return;
                    }
                    if (_comgridOpt.selectData.category == '购进') {
                        getById("sell_type").val("销售");
                    } else {
                        getById('sell_type').val('代销');
                    }
                }
            });
        }

        function clearInit() {
            var _date = getById("date").datebox('getValue');
            _util.clearInit('sell-form');
            getById("date").datebox('setValue', _date || "{{date}}");
            getById("operator_id").val("{{ form.operator_id.data}}");
            getById("money_price").val("0");
            getById("money_type").val(0);
            getById("customer_id").combobox("clear");
            getById("sell_stock_id").combogrid("setValue", "");
            getById("notice").val("");
            getById("notice_a").val("");
        }

        winButt("sell_win_cancel").on("click", function () {
            $('#sell_win').dialog('close');
        });
        getById("sell_close_window").on('click', function () {
            $(registerId).dialog('close');
            clearInit();
        });

        function success_operate(data) {
            _util.common_success(data);
            if (!data.state) {
                return
            }

            if (_isModify) {
                $(registerId).dialog('close');
            } else {
                clearInit();
            }
            _util.add_or_insert(data, data_grid_id);
        }

        getById('sell_submmit').bind('click', function () {
            var data = get_input_form_data();
            if (!data) {
                return
            }

            if (_isModify) {
                window._success_msg = '{0}销售信息成功'.format('修改');
                data['production_id'] = "sell";
                data['data_id'] = _global.data_id;
                return _util.form_ajax(_url_modify_cell, data, success_operate);
            }

            window._success_msg = '{0}销售信息成功'.format('添加');
            _util.form_ajax(_url_sell, data, success_operate);
        });

        function _c1(_obj, key, val) {
            return !(val && _obj[key] != val);
        }

        function filter_by_user_input() {
            var date = winEle('sell_win_date').datebox("getValue");
            var name = winEle('sell_win_name').val();
            var category = winEle('sell_win_category').val();
            var brand_id = winEle('sell_win_brand_id').val();
            var _datas = _comgridOpt.old_data ||
                getById("sell_stock_id").combogrid('grid').datagrid("getData");
            _comgridOpt.old_data = _datas;
            _datas = _datas.rows;
            var _all_data = [];
            for (var _one in _datas) {
                var _data = _datas[_one];
                if (_c1(_data, 'date', date) &&
                    _c1(_data, 'name', name) &&
                    _c1(_data, 'category', category) &&
                    _c1(_data, 'brand_id', brand_id)) {
                    _all_data.push(_data);
                }
            }
            return _all_data;
        }

        _comgridOpt.main("#sell_stock_id", "name");
        _comgridOpt.selectRowFun = set_stock_number_price;


        function filter_stock_data() {
            var _all_data = filter_by_user_input();
            if (_all_data.length == 0) {
                return _util.msgError('未能获得相应的入库商品数据,请重新输入筛选条件');
            }

            _comgridOpt._refresh_select(_all_data, null);
            _comgridOpt._refresh_select(_all_data, null);
            $('#sell_win').dialog('close');
        }

        getById("sell_filter_stock").bind('click', function () {
            $('#sell_win').dialog({
                width: 350,
                height: 250,
                title: "筛选商品",
                iconCls: "icon-search",
                buttons: "#sell_win_buttons",
            });
            $('#sell_win').dialog('open');
            winButt("sell_win_ok").css({width: '65px'});
            winButt("sell_win_cancel").css({width: '65px'});
        });

        function success_stock_datagrid(columns) {
            var options = {
                panelWidth: 600,
                columns: [columns],
                idField: 'id',
                singleSelect: true,
                rownumbers: true,
                onChange: _comgridOpt.onChange,
                onClickRow: _comgridOpt.onClickRow
            };

            options["url"] = _url_load_stocks;

            getById("sell_stock_id").combogrid(options);
            if (_isModify) {
                set_sell_stock();
            }
        }

        $.ajax({
            url: _url_stock_columns,
            success: success_stock_datagrid,
        });

        var _customer_ids = null;
        getById('customer_id').combobox({
            url: "{{url_for('Production.user_option_choice',userType='customer')}}",
            valueField: 'id',
            textField: 'text',
            panelWidth: 320,
            panelHeight: 120,
            onLoadSuccess: function () {
                {% if form.customer_id.data %}
                getById('customer_id').combobox("setValue", "{{ form.customer_id.data }}");
                {% endif %}
            }
        });

        $("#sell_form_page .combo-text").css("textIndent", "5px");

        function _filert_users(user_name) {
            var data = getById('customer_id').combobox("getData");
            var _data = [];
            for (var ids in data) {
                if (data[ids].text.indexOf(user_name.trim()) >= 0) {
                    _data.push(data[ids]);
                }
            }

            if (_data.length == 0) {
                return _util.msgInfo('未能获得满足过滤条件的用户');
            }

            getById('customer_id').combobox('loadData', _data);
            getById('customer_id').combobox("setValue", _data[0].id);
        }

        getById("filter-customer").bind('click', function () {
            getById('customer_id').combobox("reload");
            $.messager.defaults = {ok: "确定", cancel: "取消"};
            $.messager.prompt('输入框', '请输入客户名', _filert_users);
            getById("input.messager-input").css({textIndent: "5px", height: 25, lineHeight: 25});
        });

        var is_set_stock = null;

        function set_sell_stock() {
            if (!(_isModify && is_set_stock == null)) {
                return
            }

            is_set_stock = true;
            var data = "{{ name_id }}".split("@");
            _comgridOpt.selectId = parseInt(data[1]);
            _global.stock_id = parseInt(data[1]);

            /* 在调整价格的时候一并调整修改时的数量 */
            set_stock_number_price();
            getById("sell_stock_id").combogrid({disabled: true});
            getById('sell_stock_id').combogrid("setValue", "_" + data[0]);
        }
    });
</script>

