{% block data %}
<style>
.must-input {
	height: 17px;
	line-height: 17px;
	vertical-align: center;
	color: red;
	font-size: 15px;
}
</style>
<div id="{{operType}}toolbar">
	{% set data = [['icon-add', '添加',"add"], 
                   ['icon-remove', '删除',"delete"],
	               ['icon-edit','修改',"modify"], 
	               ["icon-search",'搜索','search'],
                   ['icon-reload', '刷新',"refresh"]
                   ] %} 
	{% for cell in data %} <a
		id="{{operType}}{{ cell[2] }}" plain="true"
		class="easyui-linkbutton" style="margin: 3px 5px"
		data-options="iconCls:'{{ cell[0] }}'">{{ cell[1] }} </a> 
	{% endfor %}
</div>

<table id="{{operType}}datagrid" class="easyui-datagrid">

</table>
<div id="{{operType}}register_dialog"
	style="padding: 15px; overflow: hidden; padding-bottom: 0"
	class="easyui-dialog" data-options="closed:true"></div>
{% endblock%}

{% block scripts %}
<script src="{{ url_for('static',filename='Js/production_common_new.js',_external=True)}}"></script>
<script src="{{ url_for('static',filename='Js/table_datagrid.js',_external=True)}}"></script>
{% endblock %}

