{% extends 'layout.html' %}
{% import 'macro.html' as mac %}
{% import 'configSetting.html' as config %}
{% set base_config =config.base_config %}

{% block title %}
    {{ base_config.title }}
{% endblock %}

{% block metas %}
    {{ super() }}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
{% endblock metas %}

{% block styles %}
    {{ super() }}
    {% set links=[
		 'Easyui/themes/sys_icons.css',
		 'Css/Index.css'
	] %}
    {% for cell in links %}
        <link rel="stylesheet" type="text/css" href="{{ mac.url(cell) }}"/>
    {% endfor %}
    <style>
        body {
            background: lightcyan;
            margin: 0px auto;
        } 
        #top_link li{
            display: inline;
            padding: 18px;
        }
        li:hover { 
            cursor: pointer;
            background-color:rgb(0,255,128);
            color:rgb(0,128,128);

        }
    </style>
{% endblock styles %}

{% block body %}
    {% block content %}
        {% block top %}
            <div id='top_data'>
                <div style="float: left">
                    <img src="{{ base_config.left_image }} " id='left_image'/>
                    <span id="title">{{ base_config.title}}({{ date }})</span>
                </div>
                <ul id='top_link' style="float: right;text-align: right;margin-right: 10px;">
                    {% for cell in base_config.top_a_link %}
                        {% if loop.index == 1 %}
                        <li class='top_a_link' data-url="{{ cell[1] }}">
                            {{ cell[0] }}{{ current_user.username }}
                        </li>
                        {% elif loop.index == 2 %}
                            {% if current_user.username =='admin' %}
                            <li class='top_a_link' data-url="{{ cell[1] }}">
                                {{ cell[0] }}
                            </li>
                            {% endif %}
                        {% else %}
                             <li class='top_a_link' data-url="{{ cell[1] }}">
                                {{ cell[0] }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}

        {% block bottom %}
            <div id='bottom' class="easyui-layout ">
                <div id='west' region="west" split="true" title='导航菜单' style="width:250px;overflow: hidden">
                    {% block bottom_left %}
                        <div id="nav" class="easyui-accordion">
                            {% for cell in base_config.menus %}
                                {% if current_user.username != "admin" %}
                                    {% if loop.index not in [1] %}
                                        {{ mac.panel_accordion(loop.index, cell[0],cell[1],cell[2]) }}
                                    {% endif %}
                                {% else %}
                                    {{ mac.panel_accordion(loop.index, cell[0],cell[1],cell[2]) }}
                                {% endif %}

                            {% endfor %}
                        </div>

                    {% endblock %}
                </div>
                <div id="center" region="center">
                    {% block bottom_right %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block  scripts %}
            {{ super() }}
            <script>
                var height = $(document).height() - 66;
                $('#bottom').css('height', height);
                $('#nav').accordion({fit: true});
                $(window).bind('resize',function(){
                });
                function _rmove_top_dialog(){
                    $("#top_adjust_date").dialog("close");
                    // $("#top_adjust_date").remove();
                }
                var adjustDialog = null;
                $(".top_a_link").bind("click",function(){
                    var url = $(this).attr("data-url");
                    if (url.indexOf("modifyDate") >=0){
                        if (adjustDialog != null){
                            adjustDialog.dialog('open');
                            return
                        }
                        _div = $('<div id="top_adjust_date"></div>');
                        _div.css({padding:"10px 30px"});
                        _div.appendTo("body");
                        adjustDialog = $("#top_adjust_date");
                        adjustDialog.dialog({
                          module:true,
                          height:160,
                          width:320,
                          iconCls:'icon-add',
                          title:"调整日期",
                          content:"<div><label for='date'>操作日期:　</label><input id='top_linkadjust_input' value='{{date}}'></input><label for='moth' style='margin-top:10px'>数据显示:　</label><input id='top_linkdjust_input_moth'></input></div>",
                          buttons:[{text:'确定',
                                    iconCls:'icon-ok',
                                    handler:function(){
                                    	var date = $("#top_linkadjust_input").datebox("getValue");
                                        var moth = $("#top_linkdjust_input_moth").combobox("getValue");
                                    	$.ajax({
											url:url,
											method:"post",
											data:{date:date,moth:moth},
											success:function(data){
												var _title = 
												$("#title").text().split("(")[0]+"("+data+")";
												$("#title").text(_title);
											}
                                    	});
                                        _rmove_top_dialog()
                                    }
                                },
                                {
                                    text:"取消",
                                    iconCls:'icon-cancel',
                                    handler:function(){_rmove_top_dialog()}
                                }
                              ]  
                        });
                        $.ajax({
                            url:"{{url_for('User.load_init_moth')}}",
                            method:'post',
                            success:function(date){
                                 $("#top_linkadjust_input").datebox({});
                                
                                 $("#top_linkdjust_input_moth").combobox({    
                                        valueField:'id',    
                                        textField:'text',
                                        height:'30px', 
                                        data:[
                                          {id:0,text:"当　天"},
                                          {id:1,text:"近一月"},
                                          {id:2,text:'近二月'},
                                          {id:3,text:'近三月'}
                                          ],
                                });
                                $("#top_linkdjust_input_moth").combobox("setValue",date); 
                            }
                        });
                       
                    }else{
                       window.location.href=url;
                    }
                   
                })

            </script>
        {% endblock %}
    {% endblock %}
{% endblock %}
