{% extends 'base.html' %}

{% block bottom_right %}
    <div id="panel_control"></div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static',filename='Easyui/easyloader.js',_external=True) }}">
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='Js/index_user_control.js',_external=True) }}">
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='Js/BaseCommon.js',_external=True) }}">
    </script>
{% endblock %}